{% extends "base/base.html" %}

{% block title %}Genre {{request.get_search_query}}{% endblock title %}

{% block content %}


{% if request.get_search_results.currentPage|add:"0" > 1 %}
<a
	href="{% url 'anime:genre' %}?slug={{request.get_search_query}}&page={{request.get_search_results.currentPage|add:-1}}">Previous</a>
{% endif %}

{% if request.get_search_results.hasNextPage %}
<a
	href="{% url 'anime:genre' %}?slug={{request.get_search_query}}&page={{request.get_search_results.currentPage|add:1}}">Next</a>
{% endif %}



<br>
<div class="">
	{% for result in request.get_search_results.results %}
	<div class="">
		<img src="{{result.image}}" alt="{{result.id}}-image" data-type="image">
		<a href="{% url 'anime:details' %}?id={{result.id}}">
			<h4>{{result.title}}</h4>
			<p>Released: {{result.released}}</p>
		</a>
	</div>
	<hr>
	{% endfor %}
</div>


{% endblock content %}