{% extends "base/base.html" %}

{% block title %}
Read
{% endblock title %}

{% block content %}

{{request.get_links.novelTitle}}
<br>
{{request.get_links.chapterTitle}}
<br>
<div class="">
	{% if request.get_previous %}
	<a href="{% url 'novels:read' %}?id={{request.get_previous.id}}">Previous Chapter</a>
	{% endif %}

	{% if request.get_next %}
	<a href="{% url 'novels:read' %}?id={{request.get_next.id}}">Next Chapter</a>
	{% endif %}
</div>

<hr>
{{request.get_links.text|linebreaks|safe}}


{% endblock content %}