{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}{% endblock title %}</title>

	<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'styles/styles.css' %}">


	<script src="https://cdn.tailwindcss.com"></script>
	{% block styles %}{% endblock styles %}
</head>

<body class="flex flex-col h-screen">
	<header class="flex flex-col">
		{% include "base/components/navbar.html" %}
		{% include "base/components/sidebar.html" %}
		{% include "base/components/news_feed.html" %}
	</header>

	<main class="flex-1">
		{% block content %}{% endblock content %}
	</main>

	<footer class="p-5 w-full flex items-center mx-auto bg-green-300">
		<p class="flex mx-auto text-center text-lg font-semibold">Akash Damle, 2024.</p>
	</footer>

	<script>
		const imagePlaceholder = "{% static 'images/placeholder.jpg' %}"
		const nowPlaying = "{{request.get_now_playing}}"
		const selectedItem = "{{request.get_item|safe}}"
		const pages = "{{request.get_links}}"
	</script>

	<script src="{% static 'scripts/app.js' %}"></script>
	{% block scripts %}{% endblock scripts %}
</body>

</html>