{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}{% endblock title %}</title>

	<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'styles/styles.css' %}">


	<script src="https://cdn.tailwindcss.com"></script>
	{% block styles %}{% endblock styles %}
</head>

<body>
	<header>

		{% include "base/components/navbar.html" %}

		{% include "base/components/news_feed.html" %}
	</header>

	<main>
		{% block content %}{% endblock content %}
	</main>

	<footer>
		Akash Damle, 2024.
	</footer>

	<script>
		const imagePlaceholder = "{% static 'images/placeholder.jpg' %}"
		const nowPlaying = "{{request.get_now_playing}}"
	</script>

	<script src="{% static 'scripts/app.js' %}"></script>
	{% block scripts %}{% endblock scripts %}
</body>

</html>