{% extends "base/base.html" %}

{% load filters %}

{% block title %}
{{request.get_details.title}} | Details
{% endblock title %}

{% block content %}


<div class="">
	<img src="{{request.get_details.image}}" alt="{{request.get_id}}-image" data-type="image">
</div>

<p>Alternative Titles:
	{% for title in request.get_details.altTitles %}
	{% if forloop.last %}
	{{title}}.
	{% else %}
	{{title}},&nbsp;
	{% endif %}
	{% endfor %}
</p>

<br>

<p>Genres:&nbsp;
	{% for genre in request.get_details.genres %}
	{% if forloop.last %}
	{{genre}}.
	{% else %}
	{{genre}},&nbsp;
	{% endif %}
	{% endfor %}
</p>

<br>

<p>Description&nbsp;{{request.get_details.description|safe}}</p>

<a href="https://cubari.moe/read/mangasee/{{request.get_id}}" target="_blank">Read</a>

{% endblock content %}