{% extends "base/base.html" %}

{% block title %}
{% if request.get_search_query %}
{{request.get_search_query}} |
{% endif %}
Search Results
{% endblock title %}

{% block content %}

<p>You Searched for: {{request.get_search_query}}</p>

<div class="container mx-auto">
	<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-2">
		{% for result in request.get_search_results.results %}
		<div class="border mx-auto w-[240px]">
			<a href="{% url 'manga:details' %}?id={{result.id}}">
				<img src="{{result.image}}" alt="{{result.id}}-image" data-type="image"
					class="h-[320px] w-full object-cover mx-auto">
			</a>
			<h4 class="truncate items-center py-2 font-semibold mx-auto text-center w-10/12 p-1" data-action="truncate">
				{{result.title}}</h4>
		</div>
		{% endfor %}
	</div>
</div>


{% endblock content %}