* {
	margin: 0;
	
}


body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

nav{
	background-color: greenyellow;
	padding: 3px;
}

header{
	background-color: aquamarine;
}

main{
	background-color: yellowgreen;
	flex: 1;
}

footer{
	background-color: turquoise;
}

.hidden{
	display: none;
}